// #root .learner-variant-header a.mx-auto img {
//     height: 50px !important;
//     margin: 0 !important;
//     padding: 0 !important;
// }

// User menu
.dropdown-menu-right.dropdown-menu.show a:first-child {
    display: none;
}

// Account page
#profile-information {
    display: none !important;
}
#social-media {
    display: none !important;
}
#site-preferences {
    display: none !important;
}
#linked-accounts {
    display: none !important;
}
#basic-information div:nth-child(6) {
    display: none !important;
}
#basic-information div:nth-child(7) {
    display: none !important;
}
#basic-information div:nth-child(8) {
    display: none !important;
}
.page__account-settings .jump-nav-sm {
    display: none !important;
}
